h1{
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    text-transform: capitalize;
}
h2{
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
}
h3{
    font-weight: 700;
    font-style: normal;
}
p{
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}
a{
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

img{
    width: 60px;
}

ul{
    list-style: none;
}