<!DOCTYPE html>
<html>
<head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<div id="jasem" v-cloak>
    <div>
        <h1>tax calculator</h1>
        <lable> wage </lable>
        <input type="number" v-model="wage"></input>
        <lable> tax percentage</lable>
        <input type="number" v-model="tax"></input>
        <hr>
        <label>tax payment with method</label>
        <p> {{ tax_calculator_method() }}</p>
        <label>tax payment with computed properties</label>
        <p> {{ tax_calculator_computed }}</p>

    </div>

</div>

<script src="app.js"></script>
</body>
</html>
